.table {
  margin: 0 auto;
  width: 80%;
  border: 1px white solid;
  padding: 1% 2%;
}

.thead {
  margin-top: 10px;
}

.head {
  font-weight: 900;
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: bisque;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.row {
  height: 50px;
}

.th .td {
  text-decoration: underline;
  background-color: bisque;
  width: 165px;
}

.span {
  display: block;
  margin: 5px;
  padding: 3px auto;
  min-width: 175px;
  text-decoration: underline;
  text-underline-offset: 4px;
  background-color: rgb(43, 139, 130);
  border-radius: 10px;
}
